node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

dist/
dist-ssr/
*.out
temp/
out/

.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

.env.local
.env.*.local
.env.development.local
.env.production.local

logs
*.log

Thumbs.db
ehthumbs.db

.vite/
.cache/
.cache/vite/

gh-pages/

Desktop.ini

*.zip
*.tar.gz
*.exe
*.dll
*.so